# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# ROUTES
#--------------------------------------------------
# ROUTES DES ...
#--------------------------------------------------


#--------------------------------------------------
# ROUTES DES ...
#--------------------------------------------------




# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]