# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# ROUTES
#--------------------------------------------------
# ROUTES DES POSTS
#--------------------------------------------------
# ROUTE: Liste des posts
# PATTERN: /posts
# URL: ?posts=index
RewriteRule ^posts$ index.php?posts=index [L]




# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
